body {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  box-sizing: border-box;
  background-color: white;
  color: black;
  transition: all 0.3s;
  padding: 0;
  margin: 0;
}

body.night {
  background-color: black;
  color: white;
}

body.night a {
  color: white !important;
}

body.night #path0_fill,
body.night #path1_fill,
body.night #path2_fill,
body.night #path3_fill {
  fill: white;
}

a {
  color: black;
  text-decoration: none;
}

header {
  max-width: 1086px;
  margin: 0 auto;
  padding: 20px;
  float: none;
  clear: both;
  overflow: hidden;
}

footer {
  padding: 100px 0;
  text-align: center;
}

.logo {
  display: inline-block;
  float: left;
  margin-left: 20px;
  height: 40px;
  width: 100px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

header nav.menu {
  float: right;
}

nav.menu a {
  text-decoration: none;
  line-height: 40px;
  font-weight: 300;
  padding: 10px 20px;
  border-top: 2px solid transparent;
  text-transform: uppercase;
  transition: all 0.3s;
}

nav.menu a:hover {
  /*transition: all 0.0s;*/
  border-top-color: black;
}

nav.social {
  margin: 30px;
  font-size: 1.5em;
}

nav.social a {
  transition: all 0.2s;
  padding: 15px;
  opacity: 0.4;
}
nav.social a:hover {
 opacity: 1;
}

/* Content */

#content {
  text-align: center;
}

#content > p {
  display: inline-block;
  text-align: justify;
  max-width: 600px;
  padding: 15px 20px;
  font-size: 1.3em;
  line-height: 1.4;
}

#content > p a {
  text-decoration: underline;
}

.centered-container {
  text-align: center;
}

.centered {
  max-width: 800px;
  display: inline-block;
}

h2 {
  font-size: 2em;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* Issues */

.issues {
  margin: 30px auto;
  width: 1086px;
  /*background: red;*/
}

.issue {
  display: inline-block;
  width: 280px;
  margin: 20px 40px;
}

.issue img {
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);
  width: 100%;
}

.issue p {
  opacity: 0.7;
  line-height: 2;
  border: none;
  text-align: left;
}

.issue time {
  opacity: 0.6;
  display: none;
}

.issue abbr {
  float: right;
  opacity: 0.5;
}

/* slides */

.slides {
  margin: 30px auto;
  width: 1086px;
  /*background: red;*/
}

.slide {
  display: inline-block;
  width: 280px;
  margin: 20px 40px;
}

.slide img {
  /*box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.3);*/
  width: 100%;
}

/* Forms */

form {
  display: block;
  max-width: 480px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
}

input, textarea {
  display: block;
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding: 10px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  font-size: 1em;
}

label {
  line-height: 2;
}

textarea {
  min-height: 140px;
}

fieldset {
  border: none;
  margin: 15px 0;
  padding: 0;
  text-align: left;
}

button, input[type=submit], a.button {
  background: black;
  color: white;
  line-height: 2.5;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
}

a.button {
  background: white;
  color: black;
  font-size: 1.1em;
  border: 1px solid black;
  text-decoration: none !important;
  padding: 15px;
  transition: all 0.2s;
}

a.button:hover {
  background: black;
  color: white;
}

.faint {
  opacity: 0.5;
}

/* Spreads */

.spreads div {
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.spreads img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/*.slick-slide img {
  max-width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}*/

/* Mobile Styles (Tablet, Phone) */

@media (max-width: 640px) {
  body {
    font-size: 1em;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: center;
  }

  header {
    width: auto;
    text-align: center;
  }

  .logo {
    margin-left: 0;
    float: none;
    height: 80px;
    width: 200px;
  }

  header nav.menu {
    float: none;
    margin-top: 30px;
  }

  .issues {
    width: 100%;
    /*background: yellow;*/
    text-align: center;
  }

  .issue {
    display: inline-block;
    width: 80%;
  }
}
