<div class="issues">
  <a href="{{issue.blurb_url}}" class="issue">
    <img src="images/covers/{{issue.number}}-large.jpg">
    <p>
      {{issue.title}}
      <time>{{issue.date}}</time>
      <abbr>{{issue.number}}</abbr>
    </p>
  </a>
</div>

{{#if issue.for_sale_on_blurb}}
<p>
  <a href="{{issue.blurb_url}}" class="button">Buy NUDE in print</a>
</p>
{{/if}}

<p>
  <a href="{{issue.issuu_url}}" class="button">Buy NUDE digital</a>
</p>

<p>
  <a href="{{issue.soundcloud_url}}" class="button">Listen to Playlist</a>
</p>