<h2>Sounds</h2>

<iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/437424672&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>

<p>
  Find more playlists at <a href="https://soundcloud.com/nudemagmusic">soundcloud.com/nudemagmusic</a>.
</p>

<h2>Musician?</h2>

<p>
  NUDE Mag is a platform to highlight the creativity and artistry of individuals, musicians included.
  Each issue includes a carefully selected playlist.
  Submit your music now for a chance to be in a future issue.
</p>

<form action="https://formspree.io/xregglem" method="POST" id="contact">

  <!-- formspree config; https://formspree.io/ -->
  <input type="hidden" name="_next" value="/?thanks" />
  <input type="hidden" name="_subject" value="NUDE Mag Submission" />
  <input type="hidden" name="_cc" value="nudemags@gmail.com" />
  <input type="text" name="_gotcha" style="display:none" />

  <fieldset>
    <label>
      Name
      <input type="text" name="name" required>
    </label>
  </fieldset>

  <fieldset>
    <label class="required">
      Email
      <input type="email" name="email" required autocapitalize="off" autocorrect="off" autocomplete="off">
    </label>
  </fieldset>


  <fieldset>
    <label>
      Soundcloud
      <input type="text" name="soundcloud" autocapitalize="off" autocorrect="off" autocomplete="off">
    </label>
  </fieldset>

  <fieldset>
    <label>
      Your message
      <textarea name="message"></textarea>
    </label>
  </fieldset>

  <fieldset>
    <label>
      How did you hear about us?
      <textarea name="how_they_knew"></textarea>
    </label>
  </fieldset>

  <!-- Hidden fields, updated with data from ipinfo.io -->
  <input type="hidden" data-source='postal' name='postal_guess' />
  <input type='hidden' data-source='city' name='city_guess' />
  <input type='hidden' data-source='region' name='region_guess' />
  <input type='hidden' data-source='country' name='country_guess' />
  <input type='hidden' data-source='org' name='org_guess' />
  <input type='hidden' data-source='ip' name='ip' />
  <input type='hidden' data-source='loc' name='coordinates' />

  <input type='hidden' name='browser' />
  <input type='hidden' name='browser_version' />
  <input type='hidden' name='os' />
  <input type='hidden' name='os_version' />

  <input type='submit' value='Submit'>
</form>
